@import url("../global.css");
@import url("../avatar/style.css");
@import url("../button/style.css");

.badge-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 2rem;
}

.badge {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.badge-left {
  top: -5px;
  left: -5px;
}

.badge-left-bottom {
  bottom: -5px;
  left: -5px;
}

.badge-right {
  top: -5px;
  right: -5px;
}

.badge-right-bottom {
  bottom: -5px;
  right: -5px;
}

.badge[data-position^="top-"] {
  top: -5px;
}

.badge[data-position^="bottom-"] {
  bottom: -5px;
}
.badge[data-position$="-left"] {
  left: -5px;
}
.badge[data-position$="-right"] {
  right: -5px;
}

.badge-primary {
  color: var(--white);
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.badge-secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.badge-danger {
  color: var(--white);
  border: 1px solid var(--danger);
  background-color: var(--danger);
}

.badge-action {
  color: var(--white);
  border: 1px solid var(--action);
  background-color: var(--action);
}
.badge-dark {
  color: var(--white);
  border: 1px solid var(--grey-dark);
  background-color: var(--grey-dark);
}
.badge-primary-light {
  color: var(--white);
  border: 1px solid var(--primary-light);
  background-color: var(--primary-light);
}
