@import url("../global.css");
@import url("../button/style.css");

.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent-bg);
}

.modal {
  padding: 1rem;
  text-align: center;
  width: 35rem;
  height: 20rem;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-heading {
  justify-self: flex-start;
  border-bottom: 1px solid var(--grey);
  padding: 0.5rem;
}

.modal-content {
  overflow-y: auto;
}

.sm {
  width: 30rem;
  height: 15rem;
}

.md {
  width: 35rem;
  height: 20rem;
}

.lg {
  width: 40rem;
  height: 30rem;
}
