* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

.avatar {
  display: inline-block;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
}

.avatar-md {
  height: 4rem;
  width: 4rem;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

#avatar-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
