* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

.avatar {
  display: inline-block;
}

.avatar-lg {
  height: 100px;
  width: 100px;
}

.avatar-md {
  height: 70px;
  width: 70px;
}

.avatar-sm {
  height: 50px;
  width: 50px;
}

#avatar-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
