@import url("../global.css");
.alert {
  bottom: 0px;
  width: 90vw;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.alert-primary {
  background-color: var(--background-primary);
}

.alert-secondary {
  background-color: var(--background-secondary);
}
.alert-success {
  background-color: var(--background-success);
}
.alert-danger {
  background-color: var(--background-danger);
}
.alert-warning {
  background-color: var(--background-warning);
}
.alert-info {
  background-color: var(--background-info);
}
.alert-light {
  background-color: var(--background-light);
}
.alert-dark {
  background-color: var(--background-dark);
  color: var(--background-light);
}
